/*Font Css*/
body {font-family: 'Exo', sans-serif;}

/*Header Section css Start*/


header
{
    background: url(../image/backgroud.png);
    background-size:cover;
    background-position: center;
}

header .row{min-height: 850px;}  

header .herotext{text-align: center;}

.herotext h1{
    font-size: 50px;
    padding: 0 18%;
    margin-bottom: 4%;
    color: #282828;
    font-weight: 400;
}

.herotext img{
    display: block;
    margin: 0 auto;
    width: 6%;
    margin-bottom: 4%;
    transition: 0.4s linear;
}

.herotext .btn-custom{
    text-transform: uppercase;
    color: #fff;
    background: #ff6d6d;
    padding: 12px 40px;
    transition: 0.4s ease-in;
    margin-bottom: 2%;
}

a.btn.btn-custom {}

.herotext .btn-custom:hover{background:#fb564a;}

/*Header Section css End*/

/*About Section css Start*/

.about{width: 100%;padding: 80px 0;}


.about .us{
    padding: 0 25%;
}


.about h5{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.about h5 .highlight1{}

.about h2{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 4%;
    line-height: 1;
}

.about .dot{
    color: #ff6d6d;
}

.about p{
    color: #282828;
    font-size: 18px;
    line-height: 2;
}

.about .double-image{
    padding: 0 !important;
    width: 100%;
}


/*About Section css End*/

/*Features section css Start*/

.features
{
    padding: 250px 0 100px;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
}

.features .highlight2{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features .awesome{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 50px;
}


.features .card{
    text-align: center;
}

.features .card-body{
    border: none;
    background: transparent;
}

.features .card-body img{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.features .card-body h3{
    margin-bottom: 8%;
    font-size: 25px;
    font-weight: 600;
}


/*Features section css End*/

/*Laptop Section Css Start*/
.laptop{
    padding: 120px 0 50px;
}

.laptop .card-title{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.laptop .card-text{
    font-size: 40px;
}

.laptop .card-text2{
    font-size: 18px;
}

.laptop .laptop2{color:#ff8a8a;}

/*Laptop Section Css End*/

/*Hits Section Css Start*/

.hits{
    padding: 100px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0, 0.50)),url(../image/hitbg.png);
}

.hits .card img{
    width: 25%;
    margin: 0 auto;
}

.hits .card
{
    background: transparent;
    border: none;

}

.hits .card p{
    color: #fff;
    margin-bottom: 20%;
}

.hits .card-title3{
    color: #fff;
    font-size: 25px;
}

.hits .card-title4{
    color: #ff8a8a;
    font-size: 18px;
    margin-bottom: 10%;
}


.hits .image-fluid10{
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
}


/*Hits Section Css End*/


/*Combo Section Css Start*/

.combo{
    padding-top: 100px;
}

.combo .edit1{width: 100%;margin: 0 auto;position: relative !important;}

.combo .edit2{
    width: 94%;
    position: absolute;
    top: 38%;
    left: 3%;
}
.combo h5{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.combo .combo2{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 2%;
}

.combo p{
    margin: 0 auto;
}

/*Combo Section Css End*/


/*login section css start*/

.login

{
    padding: 120px 0 170px;
    background: #323969;
    position: relative;
}


.login .text{
}

.login .login1{
    text-align: center;
    color: #ff6d6d;
    text-transform: uppercase;
    font-size: 18px;
}

.login .login2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
}

.login .login3{
    position: absolute;
    left: 77.5%;
    top: 70%;
    color: white;
    font-size: 18px;
}


.login .login4{
    position: absolute;
    top: 70%;
    left: 75%;
}



.login .form-control{
    color: white;
    background: #464c77;
}

.login .btn-primary5{
    border: 1px solid #ff6d6d;
    padding: 5px 100px;
    color: white;
    background: #ff6d6d;
}

.login .login5{
    position: absolute;
    top: 78%;
    left: 38%;
}

.login .login5 a{
    color: #a8aabc;
    text-decoration: underline;
    font-size: 18px;
}

.login .login5 span{
    color: #a8aabc;
    font-size: 18px;
}
/*login section css end*/



/*Support section css start*/

.support{
    padding: 100px 0 100px;
}

.support .support1{
    font-size: 30px;
}

.support .image-fluid{
    position: absolute;
    top: -45%;
    left: 27%;
    width: 24%;
    z-index: -1;
    margin-left: 1%;
}

.support .support2{
    position: relative;
    margin-bottom: 10%;
}

.support .support2 span{
    color: #fff;
}

.support .support3{}


.support .input-group2{
    position: relative;
    margin-top: 19%;
}

.support .image-fluid5{
    position: absolute;
    top: -1%;
    width: 17%;
    left: 84%;
}


.support .image-fluid6{position: absolute;top: 20%;left: 88%;}


.end{
    margin-top: 10%;
}

.end ul{list-style: none;}

.end ul li{display: inline-block;margin: 0 5%;}

/*Support section css End*/

/*Responsive*/


}

@media (max-width: 576px) { 

    /*Header Section css Start*/


header
{
    background: url(../image/backgroud.png);
    background-size:cover;
    background-position: center;
}

header .row{min-height: 850px;}  

header .herotext{text-align: center;}

.herotext h1{
    font-size: 28px;
    margin-bottom: 4%;
    color: #282828;
    font-weight: 400;
}

.herotext img{
    display: block;
    margin: 0 auto;
    width: 10%;
    margin-bottom: 4%;
    transition: 0.4s linear;
}

.herotext .btn-custom{
    text-transform: uppercase;
    color: #fff;
    background: #ff6d6d;
    padding: 12px 20px;
    transition: 0.4s ease-in;
    margin-bottom: 2%;
    width: 30%;
}

a.btn.btn-custom {}

.herotext .btn-custom:hover{background:#fb564a;}

/*Header Section css End*/

/*About Section css Start*/

.about{width: 100%;padding-top: 80px;padding-bottom: 0px;}


.about .us{
    padding: 0 5%;
}


.about h5{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 4%;
}

.about h5 .highlight1{}

.about h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4%;
    line-height: 1;
}

.about .dot{
    color: #ff6d6d;
}

.about p{
    color: #282828;
    font-size: 18px;
    line-height: 2;
}

.about .double-image{
    padding: 0 !important;
    width: 100%;
}


/*About Section css End*/

/*Features section css Start*/

.features
{
    padding: 100px 0 100px;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
}

.features .highlight2{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features .awesome{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 42px;
}


.features .card{
    text-align: center;
}

.features .card-body{
    border: none;
    background: transparent;
}

.features .card-body img{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.features .card-body h3{
    margin-bottom: 8%;
    font-size: 25px;
    font-weight: 600;
}

/*Features section css End*/ 

/*Combo Section Css Start*/

.combo{
    padding-top: 100px;
}

.combo .edit1{width: 100%;margin: 0 auto;position: relative !important;}

.combo .edit2{
    width: 94%;
    position: absolute;
    top: 56%;
    left: 3%;
}
.combo h5{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.combo .combo2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 2%;
}

.combo p{
    margin: 0 auto;
}

/*Combo Section Css End*/

/*login section css start*/

.login

{
    padding: 120px 0 170px;
    background: #323969;
    position: relative;
}


.login .text{
}

.login .login1{
    text-align: center;
    color: #ff6d6d;
    text-transform: uppercase;
    font-size: 18px;
}

.login .login2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
}

.login .login3{
    position: absolute;
    left: 35%;
    top: 205%;
    color: white;
    font-size: 15px;
}


.login .login4{
    position: absolute;
    top: 205%;
    left: 30%;
}



.login .form-control{
    color: white;
    background: #464c77;
}

.login .btn-primary5{
    border: 1px solid #ff6d6d;
    padding: 5px 100px;
    color: white;
    background: #ff6d6d;
    width: 100%;
    margin-top: 10%;
}

.login .login5{
    position: absolute;
    top: 78%;
    left: 15%;
    margin-top: 5%;
}

.login .login5 a{
    color: #a8aabc;
    text-decoration: underline;
    font-size: 18px;
}

.login .login5 span{
    color: #a8aabc;
    font-size: 18px;
}

.login .input-group{
    margin-bottom: 5%;
}

/*login section css end*/


/*Support section css start*/

.support{
    padding: 50px 0 50px;
}

.support .support1{
    font-size: 30px;
}

.support .image-fluid{
    position: absolute;
    top: -65%;
    left: 12%;
    z-index: -1;
    margin-left: 1%;
    width: 15%;
}

.support .support2{
    position: relative;
    margin-bottom: 10%;
}

.support .support2 span{
    color: #fff;
}

.support .support3{}


.support .input-group2{
    position: relative;
    margin-top: 5%;
}

.support .image-fluid5{
    position: absolute;
    top: -1%;
    width: 8.5%;
    left: 92%;
}


.support .image-fluid6{position: absolute;top: 20%;left: 94.5%;}


.end{
    margin-top: 10%;
}

.end ul{list-style: none;}

.end ul li{display: inline-block;margin: 0 5%;}

/*Support section css End*/
}

@media (max-width: 768px) 
{
    /*Header Section css Start*/


header
{
    background: url(../image/backgroud.png);
    background-size:cover;
    background-position: center;
}

header .row{min-height: 850px;}  

header .herotext{text-align: center;}

.herotext h1{
    font-size: 38px;
    margin-bottom: 4%;
    color: #282828;
    font-weight: 400;
}

.herotext img{
    display: block;
    margin: 0 auto;
    width: 10%;
    margin-bottom: 4%;
    transition: 0.4s linear;
}

.herotext .btn-custom{
    text-transform: uppercase;
    color: #fff;
    background: #ff6d6d;
    padding: 12px 40px;
    transition: 0.4s ease-in;
    margin-bottom: 2%;
    width: 30%;
}

a.btn.btn-custom {}

.herotext .btn-custom:hover{background:#fb564a;}

/*Header Section css End*/

/*About Section css Start*/

.about{width: 100%;padding: 80px 0 20px;}


.about .us{padding: 5%;}


.about h5{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

.about h5 .highlight1{}

.about h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 4%;
    line-height: 1;
}

.about .dot{
    color: #ff6d6d;
}

.about p{
    color: #282828;
    font-size: 13px;
    line-height: 2;
}

.about .double-image{
    padding: 0 !important;
    width: 100%;
}


/*About Section css End*/


/*Features section css Start*/

.features
{
    padding: 100px 0 80px;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
}

.features .highlight2{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features .awesome{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 50px;
}


.features .card{
    text-align: center;
}

.features .card-body{
    border: none;
    background: transparent;
}

.features .card-body img{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.features .card-body h3{
    margin-bottom: 8%;
    font-size: 18px;
    font-weight: 600;
}

.pad .col-md-4{padding:0;}

.pad .card-body{padding:5px;}

.pad p{
    font-size: 12px;
}


/*Features section css End*/

/*Laptop Section Css Start*/
.laptop{
    padding: 80px 0 50px;
}

.laptop .card-title{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 1;
}

.laptop .card-text{
    font-size: 30px;
    line-height: 1;
}

.laptop .card-text2{
    font-size: 15px;
    line-height: 1;
}

.laptop .laptop2{color:#ff8a8a;}

/*Laptop Section Css End*/

/*Hits Section Css Start*/

.hits{
    padding: 100px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0, 0.50)),url(../image/hitbg.png);
}

.hits .card img{
    width: 40%;
    margin: 0 auto;
}

.hits .card
{
    background: transparent;
    border: none;

}

.hits .card p{
    color: #fff;
    margin-bottom: 20%;
    font-size: 11px;
}

.hits .card-title3{
    color: #fff;
    font-size: 25px;
}

.hits .card-title4{
    color: #ff8a8a;
    font-size: 18px;
    margin-bottom: 10%;
}


.hits .image-fluid10{
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
    width: 60%;
}


/*Hits Section Css End*/


/*Combo Section Css Start*/

.combo{
    padding-top: 100px;
}

.combo .edit1{width: 100%;margin: 10% auto 0;position: relative !important;}

.combo .edit2{
    width: 94%;
    position: absolute;
    top: 55%;
    left: 3%;
}
.combo h5{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.combo .combo2{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 2%;
}

.combo p{
    margin: 0 auto;
}

/*Combo Section Css End*/


/*login section css start*/

.login

{
    padding: 120px 0 170px;
    background: #323969;
    position: relative;
}


.login .text{
}

.login .login1{
    text-align: center;
    color: #ff6d6d;
    text-transform: uppercase;
    font-size: 18px;
}

.login .login2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
}

.login .login3{
    position: absolute;
    left: 77.5%;
    top: 70%;
    color: white;
    font-size: 12px;
}


.login .login4{
    position: absolute;
    top: 70%;
    left: 75%;
}



.login .form-control{
    color: white;
    background: #464c77;
}

.login .btn-primary5{
    border: 1px solid #ff6d6d;
    padding: 5px 50px;
    color: white;
    background: #ff6d6d;
}

.login .login5{
    position: absolute;
    top: 78%;
    left: 25%;
}

.login .login5 a{
    color: #a8aabc;
    text-decoration: underline;
    font-size: 18px;
    text-decoration: none;
}

.login .login5 span{
    color: #a8aabc;
    font-size: 18px;
}
/*login section css end*/



/*Support section css start*/

.support{
    padding: 100px 0 100px;
}

.support .support1{
    font-size: 20px;
}

.support .image-fluid{
    position: absolute;
    top: -45%;
    left: 32%;
    width: 25%;
    margin-left: 1%;
}

.support .support2{
    position: relative;
    margin-bottom: 10%;
}

.support .support2 span{
    color: #fff;
}

.support .support3{}


.support .input-group2{
    position: relative;
    margin-top: 15%;
}

.support .image-fluid5{
    position: absolute;
    top: -1%;
    width: 29%;
    left: 72%;
}


.support .image-fluid6{position: absolute;top: 20%;left: 80%;}


.end{
    margin-top: 10%;
}

.end ul{list-style: none;padding: 0;}

.end ul li{display: inline-block;margin: 0 4%;}

.support p{
    font-size: 12px;
}
/*Support section css End*/
}


@media (max-width: 992px) 
{
    
/*Header Section css Start*/


header
{
    background: url(../image/backgroud.png);
    background-size:cover;
    background-position: center;
}

header .row{min-height: 850px;}  

header .herotext{text-align: center;}

.herotext h1{
    font-size: 50px;
    padding: 0 18%;
    margin-bottom: 4%;
    color: #282828;
    font-weight: 400;
}

.herotext img{
    display: block;
    margin: 0 auto;
    width: 8%;
    margin-bottom: 4%;
    transition: 0.4s linear;
}

.herotext .btn-custom{
    text-transform: uppercase;
    color: #fff;
    background: #ff6d6d;
    padding: 12px 40px;
    transition: 0.4s ease-in;
    margin-bottom: 2%;
    width: 20%;
}

a.btn.btn-custom {}

.herotext .btn-custom:hover{background:#fb564a;}

/*Header Section css End*/

/*About Section css Start*/

.about{width: 100%;padding: 80px 0 0;}


.about .us{
    padding: 0 5%;
    line-height: 1;
}


.about h5{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1;
}

.about h5 .highlight1{}

.about h2{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 4%;
    line-height: 1;
}

.about .dot{
    color: #ff6d6d;
}

.about p{
    color: #282828;
    font-size: 18px;
    line-height: 1.5;
}

.about .double-image{
    padding: 0 !important;
    width: 100%;
}


/*About Section css End*/

/*Features section css Start*/

.features
{
    padding: 100px 0 100px;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
}

.features .highlight2{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features .awesome{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 50px;
}


.features .card{
    text-align: center;
}

.features .card-body{
    border: none;
    background: transparent;
}

.features .card-body img{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.features .card-body h3{
    margin-bottom: 8%;
    font-size: 20px;
    font-weight: 600;
}

.features p{
    font-size: 13px;
}

/*Features section css End*/

/*Laptop Section Css Start*/
.laptop{
    padding: 120px 0 50px;
}

.laptop .card-title{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1;
}

.laptop .card-text{
    font-size: 40px;
    line-height: 1;
}

.laptop .card-text2{
    font-size: 18px;
}

.laptop .laptop2{color:#ff8a8a;}

/*Laptop Section Css End*/

/*Hits Section Css Start*/

.hits{
    padding: 100px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0, 0.50)),url(../image/hitbg.png);
}

.hits .card img{
    width: 35%;
    margin: 0 auto;
}

.hits .card
{
    background: transparent;
    border: none;

}

.hits .card p{
    color: #fff;
    margin-bottom: 20%;
    font-size: 14px;
}

.hits .card-title3{
    color: #fff;
    font-size: 25px;
}

.hits .card-title4{
    color: #ff8a8a;
    font-size: 18px;
    margin-bottom: 10%;
}


.hits .image-fluid10{
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
    width: 50%;
}


/*Hits Section Css End*/


/*Combo Section Css Start*/

.combo{
    padding-top: 100px;
}

.combo .edit1{width: 100%;margin: 6% auto 0;position: relative !important;}

.combo .edit2{
    width: 94%;
    position: absolute;
    top: 52.5%;
    left: 3%;
}
.combo h5{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.combo .combo2{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 2%;
}

.combo p{
    margin: 0 auto;
    font-size: 20px;
}

/*Combo Section Css End*/


/*login section css start*/

.login

{
    padding: 120px 0 170px;
    background: #323969;
    position: relative;
}


.login .text{
}

.login .login1{
    text-align: center;
    color: #ff6d6d;
    text-transform: uppercase;
    font-size: 18px;
}

.login .login2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10%;
}

.login .login3{
    position: absolute;
    left: 77.5%;
    top: 70%;
    color: white;
    font-size: 15px;
}


.login .login4{
    position: absolute;
    top: 70%;
    left: 75%;
}



.login .form-control{
    color: white;
    background: #464c77;
}

.login .btn-primary5{
    border: 1px solid #ff6d6d;
    padding: 5px 80px;
    color: white;
    background: #ff6d6d;
}

.login .login5{
    position: absolute;
    top: 78%;
    left: 30%;
}

.login .login5 a{
    color: #a8aabc;
    text-decoration: underline;
    font-size: 18px;
    text-decoration: none;
}

.login .login5 span{
    color: #a8aabc;
    font-size: 18px;
}
/*login section css end*/



/*Support section css start*/

.support{
    padding: 100px 0 100px;
}

.support .support1{
    font-size: 30px;
}

.support .image-fluid{
    position: absolute;
    top: -25%;
    left: 33%;
    z-index: -1;
    margin-left: 1%;
}

.support .support2{
    position: relative;
    margin-bottom: 10%;
}

.support .support2 span{
    color: #fff;
}

.support .support3{}


.support .input-group2{
    position: relative;
    margin-top: 19%;
}

.support .image-fluid5{
    position: absolute;
    top: -1%;
    width: 21%;
    left: 80%;
}


.support .image-fluid6{position: absolute;top: 20%;left: 85%;}


.end{
    margin-top: 10%;
}

.end ul{list-style: none;}

.end ul li{display: inline-block;margin: 0 5%;}

/*Support section css End*/
}

@media (max-width: 320px) 
{ 
  /*Header Section css Start*/


header
{
    background: url(../image/backgroud.png);
    background-size:cover;
    background-position: center;
}

header .row{min-height: 850px;}  

header .herotext{text-align: center;}

.herotext h1{
    font-size: 25px;
    margin-bottom: 4%;
    color: #282828;
    font-weight: 400;
    padding: 0;
}

.herotext img{
    display: block;
    margin: 0 auto;
    width: 10%;
    margin-bottom: 4%;
    transition: 0.4s linear;
}

.herotext .btn-custom{
    text-transform: uppercase;
    color: #fff;
    background: #ff6d6d;
    transition: 0.4s ease-in;
    margin-bottom: 2%;
    width: 30%;
    padding: 0 5px;
}

a.btn.btn-custom {}

.herotext .btn-custom:hover{background:#fb564a;}

/*Header Section css End*/

/*About Section css Start*/

.about{width: 100%;padding: 80px 0 0;}


.about .us{
    padding: 0 5%;
}


.about h5{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.about h5 .highlight1{}

.about h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 4%;
    line-height: 1;
}

.about .dot{
    color: #ff6d6d;
}

.about p{
    color: #282828;
    font-size: 10px;
    line-height: 2;
}

.about .double-image{
    padding: 0 !important;
    width: 100%;
}


/*About Section css End*/

/*Features section css Start*/

.features
{
    padding: 100px 0 80px;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: center;
}

.features .highlight2{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.features .awesome{
    text-transform: capitalize;
    margin-bottom: 5%;
    font-size: 24px;
}


.features .card{
    text-align: center;
}

.features .card-body{
    border: none;
    background: transparent;
}

.features .card-body img{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.features .card-body h3{
    margin-bottom: 8%;
    font-size: 20px;
    font-weight: 600;
}


/*Features section css End*/

/*Laptop Section Css Start*/
.laptop{
    padding: 120px 0 50px;
}

.laptop .card-title{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

.laptop .card-text{
    font-size: 24px;
}

.laptop .card-text2{
    font-size: 15px;
}

.laptop .laptop2{color:#ff8a8a;}

/*Laptop Section Css End*/

/*Hits Section Css Start*/

.hits{
    padding: 100px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0, 0.50)),url(../image/hitbg.png);
}

.hits .card img{
    width: 25%;
    margin: 0 auto;
}

.hits .card
{
    background: transparent;
    border: none;

}

.hits .card p{
    color: #fff;
    margin-bottom: 20%;
}

.hits .card-title3{
    color: #fff;
    font-size: 25px;
}

.hits .card-title4{
    color: #ff8a8a;
    font-size: 18px;
    margin-bottom: 10%;
}


.hits .image-fluid10{
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 5%;
    width: 30%;
}


/*Hits Section Css End*/


/*Combo Section Css Start*/

.combo{
    padding-top: 100px;
}

.combo .edit1{width: 100%;margin: 0 auto;position: relative !important;}

.combo .edit2{
    width: 94%;
    position: absolute;
    top: 66%;
    left: 3%;
}
.combo h5{
    color: #ff8a8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.combo .combo2{
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 2%;
    font-weight: 700;
}

.combo p{
    margin: 0 auto;
    font-size: 12px;
}

/*Combo Section Css End*/


/*login section css start*/

.login

{
    padding: 120px 0 170px;
    background: #323969;
    position: relative;
}


.login .text{
}

.login .login1{
    text-align: center;
    color: #ff6d6d;
    text-transform: uppercase;
    font-size: 12px;
}

.login .login2{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 10%;
}

.login .login3{
    position: absolute;
    left: 77.5%;
    top: 70%;
    color: white;
    font-size: 18px;
}


.login .login4{
    position: absolute;
    top: 70%;
    left: 75%;
}



.login .form-control{
    color: white;
    background: #464c77;
}

.login .btn-primary5{
    border: 1px solid #ff6d6d;
    padding: 5px 100px;
    color: white;
    background: #ff6d6d;
}

.login .login5{
    position: absolute;
    top: 78%;
    left: 38%;
}

.login .login5 a{
    color: #a8aabc;
    text-decoration: underline;
    font-size: 18px;
}

.login .login5 span{
    color: #a8aabc;
    font-size: 18px;
}

.login .input-group
/*login section css end*/



/*Support section css start*/

.support{
    padding: 100px 0 100px;
}

.support .support1{
    font-size: 30px;
}

.support .image-fluid{
    position: absolute;
    top: -45%;
    left: 27%;
    width: 24%;
    z-index: -1;
    margin-left: 1%;
}

.support .support2{
    position: relative;
    margin-bottom: 10%;
}

.support .support2 span{
    color: #fff;
}

.support .support3{}


.support .input-group2{
    position: relative;
    margin-top: 19%;
}

.support .image-fluid5{
    position: absolute;
    top: -1%;
    width: 17%;
    left: 84%;
}


.support .image-fluid6{position: absolute;top: 20%;left: 88%;}


.end{
    margin-top: 10%;
}

.end ul{list-style: none;}

.end ul li{display: inline-block;margin: 0 5%;}

/*Support section css End*/


